body{
    font-family: "Montserrat";
}
#title
{
    background-color:#ff4c68;
    color:white;
    z-index:-1;
    padding-bottom: 90px;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    /*  */
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    font-size:3rem;
    line-height: 1.5;
    
}
/* Donwload button */
button{
    margin-top: 40px;
}
.download-button{
    margin: 5% 3% 5% 0;
}

/* Navbar */
.navbar{
    margin-bottom: 4rem;
    padding:0 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat-Light",sans-serif;
    font-size:1.2rem;
    font-weight: 300;
}

/* Title image */

.cat-iphone{
    margin-top:-60px;
    height: 800px;
    transform: rotate(18deg);
    position: absolute;
    z-index: 1;
}

/* Features icons */
.features-icon{
    height: 6rem;
    color: #ef8172;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color:#ff4c68;
}
#features{
    background-color: white;
    padding:7% 15%;
    position: relative;
    z-index: 1;
}
#features h3{
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    font-size:1.2rem;
}
.feature-info{
    text-align: center;
    padding: 5%;
}
p{
    color:#8f8f8f
}
#testimonials{
    text-align: center;
    background-color:#ef8172;
    color:White;
}
.carousel-item{
    padding: 7% 15%;
}
h2{
    font-family:"Monsterrat-Bold", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image
{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;
}
#pricing
{
    padding:100px;
    text-align: center;
}
.pricing-column
{
    padding:3% 2%;
}

#cta
{
    background-color: #ff4c68;
    text-align: center;
    color:White;
    padding: 7% 15%;
    
}
.cta-heading{
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    font-size:3.5rem;
    text-align: center;
    line-height: 1.5;
}
#cta button{
    margin-left:5px;
    margin-right:5px;
}
#footer{
    text-align: center;
    background-color:#fff;
    padding:3% 15%;

}
.footer-icons{
    margin: 20px 10px ;
}
.footer-icons:hover{
    cursor:pointer;
}


@media (max-width:1028px) {
    #title{
        text-align: center;   
        padding:0%;  
    }
    .cat-iphone{
        position:static;
        transform:rotate(0deg);
    }
}